<div class="center">

  <nav>
    <button mat-button color="primary" routerLink="/dashboard" routerLinkActive="activebutton">Dashboard</button>
    <button mat-button color="primary" routerLink="/product" routerLinkActive="activebutton">Product</button>
    <button mat-button color="primary" routerLink="/user" routerLinkActive="activebutton">User</button>
    <button mat-button color="primary" routerLink="/about" routerLinkActive="activebutton">About</button>
  </nav>

  <main>
    <router-outlet />
  </main>

</div>